*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
header{
 font-size:25px;
 padding:10px;

}
#navbar{
    width:300px;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    border:2px solid #A6A6A6;
}
#navbar li{
    border-top:1px solid grey;
    font-size:18px;
    padding:10px;
    list-style:none;
}
.nav-link{
    color:#4d4e53;
    text-decoration:none;
}
#main-doc{
    position:absolute;
    margin-left:320px;
    padding:20px;
}
p{
    font-size:0.96em;
    line-height:1.5;
    color:#4d4e53;
    padding:10px;
}
h3{
    font-weight:300;
    padding-left:10px;
}
code{
    padding:20px;
    display:block;
    background-color:#d8d8d8;
    font-size:14px;
}
section ul{
    list-style:circle;
    padding:20px;
}
@media (max-width:768px){
    
}